PORT=3000
AUTH_JWT_SECRET=change-this-secret
AUTH_TOKEN_TTL_SECONDS=43200
AUTH_PASSWORD_MIN_LENGTH=10
AUTH_LOGIN_MAX_ATTEMPTS=5
AUTH_LOGIN_LOCK_MINUTES=15
AUTH_BOOTSTRAP_ADMIN_NAME=Admin
AUTH_BOOTSTRAP_ADMIN_EMAIL=admin@gestaoalojamentolocal.local
AUTH_BOOTSTRAP_ADMIN_PASSWORD=change-me-now
BOOKING_API_BASE_URL=https://distribution-xml.booking.com/2.4
BOOKING_TIMEOUT_MS=10000
BOOKING_USERNAME=
BOOKING_PASSWORD=
BOOKING_ENABLE_LIVE_CHECK=true
BOOKING_CONNECTIVITY_PING_PATH=/hotels/{hotelId}
BOOKING_CONNECTIVITY_SYNC_PATH=/hotels/{hotelId}/availability
BOOKING_SYNC_HTTP_METHOD=POST
BOOKING_SYNC_CONTENT_TYPE=application/json
